.table-container {
    max-height: 400px; /* Set a maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
}

.sticky-header th {
    position: sticky;
    top: 0; /* Stick to the top of the .table-container */
    background-color: #f8f9fa; /* Add a background color to prevent content from showing through */
    z-index: 10; /* Ensure the header is above other table content */
    /* Add box-shadow for better visual separation */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}